@import "https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap";

@font-face {
  font-family: "phonkcontrast_demo";
  src: url("https://cdn.shopify.com/s/files/1/0641/5033/9780/files/phonk_contrast_demo-webfont.woff2?v=1708067204")
      format("woff2"),
    url("https://cdn.shopify.com/s/files/1/0641/5033/9780/files/phonk_contrast_demo-webfont.woff?v=1708067204")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "phonkregular_demo";
  src: url("https://cdn.shopify.com/s/files/1/0641/5033/9780/files/phonk_regular_demo-webfont.woff2?v=1708067204")
      format("woff2"),
    url("https://cdn.shopify.com/s/files/1/0641/5033/9780/files/phonk_regular_demo-webfont.woff?v=1708067204")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #0c0c0c;
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "phonkcontrast_demo";
  color: #fff;
}
h1 {
  font-size: 96px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.96px;
}
h2,
.h2 {
  font-size: 48px;
  font-family: "phonkregular_demo";
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 3.84px;
}
.titleEffectStrock,
.titleEffectStrock * {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
  position: relative;
  color: #130d09;
}

.highlight {
  text-shadow: -3px -3px 1px #f00, 3px 3px 1px #00ffd1;
}

.center-box-content {
  max-width: 800px;
  margin: auto;
}

.center-box-content .titleEffectStrock {
  margin: 0;
}
.center-box-content .title {
  margin: 0;
}

.position-relative {
  position: relative;
}

.animation-strock-effect {
  width: 100%;
  min-height: 81px;
}
.animation-strock-effect h3 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
}

.animation-strock-effect h3:nth-child(2) {
  top: 13px;
  z-index: 2;
}

.animation-strock-effect h3:last-child {
  top: 25px;
  z-index: 1;
}
