@import "https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap";

@font-face {
  font-family: "phonkcontrast_demo";
  src: url("https://cdn.shopify.com/s/files/1/0641/5033/9780/files/phonk_contrast_demo-webfont.woff2?v=1708067204")
      format("woff2"),
    url("https://cdn.shopify.com/s/files/1/0641/5033/9780/files/phonk_contrast_demo-webfont.woff?v=1708067204")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "phonkregular_demo";
  src: url("https://cdn.shopify.com/s/files/1/0641/5033/9780/files/phonk_regular_demo-webfont.woff2?v=1708067204")
      format("woff2"),
    url("https://cdn.shopify.com/s/files/1/0641/5033/9780/files/phonk_regular_demo-webfont.woff?v=1708067204")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Rubik:ital,wght@0,300..900;1,300..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Sometype+Mono:ital,wght@0,400..700;1,400..700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");

/*

.sometype-mono-<uniquifier> {
  font-family: "Sometype Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

*/
body {
  background: #151515;
  color: #fff;
  font-family: "Inter", sans-serif;
}

.gradient {
  background: #151515;
  color: #fff;
}

p {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "phonkcontrast_demo";
  color: #fff;
  font-weight: 600;
  font-style: normal;

  line-height: normal;
}
h1,
.h1 {
  font-size: 64px;
  font-style: normal;

  letter-spacing: 0.96px;
}
h2,
.h2 {
  font-size: 48px;
  font-family: "phonkregular_demo";

  letter-spacing: 3.84px;
}

.title.highlight {
  font-size: 96px;
}

h3,
.h3 {
  font-size: 40px;
}

.m-0 {
  margin: 0;
}

.mb-100 {
  margin-bottom: 9.5rem;
}

/* flex class */

/* Flex container */
.d-flex {
  display: flex !important;
}

.d-inline-flex {
  display: inline-flex !important;
}

/* Flex direction */
.flex-row {
  flex-direction: row !important;
}

.flex-column {
  flex-direction: column !important;
}

.flex-row-reverse {
  flex-direction: row-reverse !important;
}

.flex-column-reverse {
  flex-direction: column-reverse !important;
}

/* Flex wrapping */
.flex-wrap {
  flex-wrap: wrap !important;
}

.flex-nowrap {
  flex-wrap: nowrap !important;
}

.flex-wrap-reverse {
  flex-wrap: wrap-reverse !important;
}

/* Flex alignment */
.justify-content-start {
  justify-content: flex-start !important;
}

.justify-content-end {
  justify-content: flex-end !important;
}

.justify-content-center {
  justify-content: center !important;
}

.justify-content-between {
  justify-content: space-between !important;
}

.justify-content-around {
  justify-content: space-around !important;
}

.align-items-start {
  align-items: flex-start !important;
}

.align-items-end {
  align-items: flex-end !important;
}

.align-items-center {
  align-items: center !important;
}

.align-items-baseline {
  align-items: baseline !important;
}

.align-items-stretch {
  align-items: stretch !important;
}

.align-content-start {
  align-content: flex-start !important;
}

.align-content-end {
  align-content: flex-end !important;
}

.align-content-center {
  align-content: center !important;
}

.align-content-between {
  align-content: space-between !important;
}

.align-content-around {
  align-content: space-around !important;
}

.align-content-stretch {
  align-content: stretch !important;
}

/* Flex item alignment */
.align-self-auto {
  align-self: auto !important;
}

.align-self-start {
  align-self: flex-start !important;
}

.align-self-end {
  align-self: flex-end !important;
}

.align-self-center {
  align-self: center !important;
}

.align-self-baseline {
  align-self: baseline !important;
}

.align-self-stretch {
  align-self: stretch !important;
}

.m-0 {
  margin: 0;
}
.m-1 {
  margin: 0.25rem;
}
.m-2 {
  margin: 0.5rem;
}
.m-3 {
  margin: 1rem;
}
.m-4 {
  margin: 1.5rem;
}
.m-5 {
  margin: 3rem;
}
.m-auto {
  margin: auto;
}

.p-0 {
  padding: 0;
}
.p-1 {
  padding: 0.25rem;
}
.p-2 {
  padding: 0.5rem;
}
.p-3 {
  padding: 1rem;
}
.p-4 {
  padding: 1.5rem;
}
.p-5 {
  padding: 3rem;
}
.p-auto {
  padding: auto;
}

.ms-5 {
  padding-left: 3rem;
}

.titleEffectStrock,
.titleEffectStrock *,
.super-human-card__tag {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
  position: relative;
  color: #130d09;
}

.highlight {
  text-shadow: -3px -3px 1px #f00, 3px 3px 1px #00ffd1;
}

.heading-style-2 {
  text-shadow: -1px 0px 1px red, -2px 1px 1px red, -3px 2px 1px red,
    -4px 3px 1px red, -5px 4px 1px red, -6px 5px 1px red, -8px 6px 1px red,
    -8px 7px 1px red, -9px 8px 1px red, -10px 9px 1px red, -11px 10px 1px red,
    -12px 11px 1px red;
}

.super-human-absolute {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-0, -50%);
}

@media (min-width: 1800px) {
  .super-human-absolute {
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
  }
}
.image-gallery {
  max-width: 1160px;
  width: 100%;
  position: relative;
  left: -269px;
  display: block;
}
.slider img {
  max-width: 100%;
  border-radius: 3px;
  border: 1px solid #909090;
}

.first-slider,
.fourth-slider {
  opacity: 0.13;
}

.first-slider,
.third-slider {
  transform: scaleY(-1);
}

.first-slider img,
.third-slider img {
  transform: rotate(180deg);
}

.center-box-content {
  max-width: 800px;
  margin: auto;
  top: 30%;
  position: relative;
  transform: translateY(-50%);
}

.super-human-card__title {
  font-size: 48px;
  margin: 0;
}

.super-human-card {
  max-width: 576px;
}

.super-human-card__tag {
  font-size: 40px !important;
  margin: 0;
  font-weight: 600;
}

.super-human-card__title {
  font-size: 48px;

  font-weight: 600;
  margin: 0;
}

.super-human-card__content {
  color: #8c8c8c;
  font-size: 20px;
  margin: 0 0 20px;
  max-width: 500;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  line-height: normal;
}

.block-v2 {
}

.block-v2 .h1 {
  font-size: 48px !important;
  font-family: "phonkregular_demo";
}

.block-v2 .animation-strock-effect {
  position: relative;
  top: -37px;
}

.block-v2 .animation-strock-effect {
  z-index: 1;
}
.block-v2 .animation-strock-effect:nth-child(2) {
  z-index: 2;
}
.block-v2 .animation-strock-effect:last-child {
  z-index: 3;
}

.block-v2 .super-human-card__title {
  position: relative;
  z-index: 4;
}

.center-box-content .titleEffectStrock {
  margin: 0;
}
.center-box-content .title {
  margin: 0;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.animation-strock-effect {
  width: 100%;
  min-height: 81px;
}

.animation-strock-effect h3 {
  position: absolute;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
}

.animation-strock-effect h3:nth-child(2) {
  top: 13px;
  z-index: 2;
}

.animation-strock-effect h3:last-child {
  top: 25px;
  z-index: 1;
}

.text-uppercase {
  text-transform: uppercase;
}

.btn {
  width: 230px;
  height: 76px;
  flex-shrink: 0;
  color: #ff8a00;
  text-align: right;
  font-family: phonkcontrast_demo;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  position: relative;
  border-radius: 10px;
  background: #1d1d1d;
}

.email-field,
.field__input_superhumn {
  min-width: 462px;
  height: 76px;
  width: 100%;
  padding: 24px 57px 24px;

  border-radius: 10px;
  border: 2px solid #3d3c3c;
  background: #ff4667;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.3) inset;
  color: #fff;
  font-family: "Rubik", sans-serif;

  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
}

.superhumn-form,
.superhumn-form .newsletter-form__field-wrapper {
  max-width: 462px !important;
  margin: 0 !important;
}

.superhumn-form .newsletter-form__button {
  right: 24px;
}

.btn-full:after,
.field__input_superhumn:after,
.field__input_superhumn:before,
.superhumn-field:before,
.superhumn-field::after {
  display: none !important;
}

@media screen and (min-width: 750px) {
  .newsletter-form {
    max-width: auto;
  }
}

.field__label_supter {
  top: 54%;

  transform: translateY(-50%);
}

/* .btn-line {
  width: 65px;
  height: 2px;
  background: #ff8a00;
} */
.para-1 {
  color: #272727;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 230px;
  text-align: left;
  transform: rotate(90deg);
  top: 22.8rem;
  position: absolute;
  right: 66px;
}
.mt-40 {
  margin-top: 40px;
}
.btn:after {
  content: "";
  width: 65px;
  height: 2px;
  background: #ff8a00;
  position: absolute;
  top: 0;
  left: 40px;
}

.layer-1 {
  border-radius: 10px;
  background: #0e0e0e;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.layer-2 {
  border-radius: 10px;
  background: #222;
  width: calc(100% - 7px);
  height: calc(100% - 7px);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.pillu {
  top: 89px;
  left: 60px;
  width: 37px;
  height: 90px;
  position: absolute;
  transform: translate(-50%, -50%);
}

.full-width {
  width: 100%;
  max-width: 100%;
}

.text-center {
  text-align: center !important;
}

.testimonials_tag {
  bottom: 80px;
  left: 62px;
}

.slash_tag {
  bottom: 80px;
  right: 62px;
}

.page-1100 {
  max-width: 1260px;
  width: 100%;
}
.me-5 {
  margin-right: 5rem !important;
}

.dotnav button {
  background: url(//superhumn-dev.myshopify.com/cdn/shop/t/2/assets/dot.svg?v=1705678…);
  background-repeat: no-repeat;
  background-color: transparent;
  box-shadow: none;
  border: 0;
  text-indent: -9999px;
  width: 20px;
  background-position: center;
  height: 20px;
}
