@import "https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap";

/* @font-face {
  font-family: "PhonkContrast";
  src: url("https://cdn.shopify.com/s/files/1/0641/5033/9780/files/phonk_contrast_demo-webfont.woff2?v=1708067204")
      format("woff2"),
    url("https://cdn.shopify.com/s/files/1/0641/5033/9780/files/phonk_contrast_demo-webfont.woff?v=1708067204")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PhonkRegular";
  src: url("https://cdn.shopify.com/s/files/1/0641/5033/9780/files/phonk_regular_demo-webfont.woff2?v=1708067204")
      format("woff2"),
    url("https://cdn.shopify.com/s/files/1/0641/5033/9780/files/phonk_regular_demo-webfont.woff?v=1708067204")
      format("woff");
  font-weight: normal;
  font-style: normal;
} */

@font-face {
  font-family: "PhonkRegularItalic";
  src: url("https://cdn.shopify.com/s/files/1/0641/5033/9780/files/font_07428854-ad7e-4134-bd8c-c42ffd0c2a7f.woff2?v=1711252354")
      format("woff2"),
    url("https://cdn.shopify.com/s/files/1/0641/5033/9780/files/font_1e62e46a-5212-4da8-830b-166373088bd2.woff?v=1711252353")
      format("woff");
  font-weight: 600;
}
@font-face {
  font-family: "PhonkContrast";
  src: url("https://cdn.shopify.com/s/files/1/0641/5033/9780/files/font_9ed1e32f-597d-4cc1-9bba-8eebb4293c08.woff2?v=1711252229")
      format("woff2"),
    url("https://cdn.shopify.com/s/files/1/0641/5033/9780/files/font_8abe1618-0909-436f-8793-69ab7b029acd.woff?v=1711252229")
      format("woff");
  font-weight: 600;
}
@font-face {
  font-family: "PhonkRegular";
  src: url("https://cdn.shopify.com/s/files/1/0641/5033/9780/files/font_f70f25b4-79d9-402a-a042-2379c740650a.woff2?v=1711252304")
      format("woff2"),
    url("https://cdn.shopify.com/s/files/1/0641/5033/9780/files/font_a797e4e9-0cc5-43c7-ae46-7744e37a4ff6.woff?v=1711252304")
      format("woff");
  font-weight: 600;
}
@font-face {
  font-family: "PhonkContrastItalic";
  src: url("https://cdn.shopify.com/s/files/1/0641/5033/9780/files/font.woff2?v=1711252151")
      format("woff2"),
    url("https://cdn.shopify.com/s/files/1/0641/5033/9780/files/font.woff?v=1711252151")
      format("woff");
  font-weight: 600;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Rubik:ital,wght@0,300..900;1,300..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Sometype+Mono:ital,wght@0,400..700;1,400..700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");

/*

.sometype-mono-<uniquifier> {
  font-family: "Sometype Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

*/
body {
  background: #151515;
  color: #fff;
  font-family: "Inter", sans-serif;
}

/* .gradient {
  background: #151515;
  color: #fff;
} */

p {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "PhonkContrast";
  color: #fff;
  font-weight: 600;
  font-style: normal;

  line-height: normal;
}
.h0 {
  font-weight: 9rem;
}
h1,
.h1 {
  font-size: 64px;
  font-style: normal;

  letter-spacing: 0.96px;
}
h2,
.h2 {
  font-size: 48px;
  font-family: "PhonkRegular";

  letter-spacing: 3.84px;
}

.title.highlight {
  font-size: 96px;
}

h3,
.h3 {
  font-size: 40px;
}

.m-0 {
  margin: 0;
}

.mb-100 {
  margin-bottom: 9.5rem;
}

/* flex class */

/* Flex container */
.d-flex {
  display: flex !important;
}

.d-inline-flex {
  display: inline-flex !important;
}

/* Flex direction */
.flex-row {
  flex-direction: row !important;
}

.flex-column {
  flex-direction: column !important;
}

.flex-row-reverse {
  flex-direction: row-reverse !important;
}

.flex-column-reverse {
  flex-direction: column-reverse !important;
}

/* Flex wrapping */
.flex-wrap {
  flex-wrap: wrap !important;
}

.flex-nowrap {
  flex-wrap: nowrap !important;
}

.flex-wrap-reverse {
  flex-wrap: wrap-reverse !important;
}

/* Flex alignment */
.justify-content-start {
  justify-content: flex-start !important;
}

.justify-content-end {
  justify-content: flex-end !important;
}

.justify-content-center {
  justify-content: center !important;
}

.justify-content-between {
  justify-content: space-between !important;
}

.justify-content-around {
  justify-content: space-around !important;
}

.align-items-start {
  align-items: flex-start !important;
}

.align-items-end {
  align-items: flex-end !important;
}

.align-items-center {
  align-items: center !important;
}

.align-items-baseline {
  align-items: baseline !important;
}

.align-items-stretch {
  align-items: stretch !important;
}

.align-content-start {
  align-content: flex-start !important;
}

.align-content-end {
  align-content: flex-end !important;
}

.align-content-center {
  align-content: center !important;
}

.align-content-between {
  align-content: space-between !important;
}

.align-content-around {
  align-content: space-around !important;
}

.align-content-stretch {
  align-content: stretch !important;
}

/* Flex item alignment */
.align-self-auto {
  align-self: auto !important;
}

.align-self-start {
  align-self: flex-start !important;
}

.align-self-end {
  align-self: flex-end !important;
}

.align-self-center {
  align-self: center !important;
}

.align-self-baseline {
  align-self: baseline !important;
}

.align-self-stretch {
  align-self: stretch !important;
}

.m-0 {
  margin: 0;
}
.m-1 {
  margin: 0.25rem;
}
.m-2 {
  margin: 0.5rem;
}
.m-3 {
  margin: 1rem;
}
.m-4 {
  margin: 1.5rem;
}
.m-5 {
  margin: 3rem;
}
.m-auto {
  margin: auto;
}

.p-0 {
  padding: 0;
}
.p-1 {
  padding: 0.25rem;
}
.p-2 {
  padding: 0.5rem;
}
.p-3 {
  padding: 1rem;
}
.p-4 {
  padding: 1.5rem;
}
.p-5 {
  padding: 3rem;
}
.p-auto {
  padding: auto;
}

.ms-5 {
  padding-left: 3rem;
}

.titleEffectStrock span {
  display: none;
}

.titleEffectStrock span.effectText {
  display: inline;
}
.titleEffectStrock .effectText,
.titleEffectStrock *,
.super-human-card__tag {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
  position: relative;
  color: #130d09;
}

.highlight {
  text-shadow: -3px -3px 1px #f00, 3px 3px 1px #00ffd1;
}

.heading-style-2 {
  text-shadow: -1px 0px 1px red, -2px 1px 1px red, -3px 2px 1px red,
    -4px 3px 1px red, -5px 4px 1px red, -6px 5px 1px red, -8px 6px 1px red,
    -8px 7px 1px red, -9px 8px 1px red, -10px 9px 1px red, -11px 10px 1px red,
    -12px 11px 1px red;
  font-size: 9rem;
}

.super-human-absolute {
  position: absolute;
  top: 50%;
  left: 7%;
  transform: translate(-0, -50%);
}

@media (min-width: 1800px) {
  .super-human-absolute {
    top: 050%;
    right: auto;
    transform: translate(-50%, -50%);
    left: 20%;
  }
}
.image-gallery {
  max-width: 1160px;
  width: 100%;
  position: relative;
  display: block;
  transform: rotate(15deg) translateX(-50%);
  right: -50%;

  top: -157px;
}

.slider img {
  max-width: 100%;
  border-radius: 3px;
  border: 1px solid #909090;
}

.first-slider,
.fourth-slider {
  opacity: 0.13;
}

.first-slider,
.third-slider {
  transform: scaleY(-1);
}

.first-slider img,
.third-slider img {
  transform: rotate(180deg);
}

.center-box-content {
  max-width: 800px;
  margin: auto;
  top: 30%;
  position: relative;
  transform: translateY(-50%);
}

.super-human-card__title {
  font-size: 48px;
  margin: 0;
}

.super-human-card {
  /*( max-width: 576px;*/
}

.super-human-card__tag {
  font-size: 40px !important;
  margin: 0;
  font-weight: 600;
}

.super-human-card__title {
  font-size: 48px;

  font-weight: 600;
  margin: 0;
}

.super-human-card__content {
  margin: 0 0 20px;
  max-width: 560px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  line-height: normal;
  color: #fff;

  text-align: left;
  font-size: 24px;
}

.block-v2 {
}

.block-v2 .h1 {
  font-size: 90px !important;
  font-family: "PhonkRegular";
  line-height: 90px;
}

.block-v2 .animation-strock-effect {
  position: relative;
  top: -147px;
  left: 0;
}

.block-v2 .animation-strock-effect {
  z-index: 1;
}
.block-v2 .animation-strock-effect:nth-child(2) {
  z-index: 2;
}
.block-v2 .animation-strock-effect:last-child {
  z-index: 3;
}

.block-v2 .super-human-card__title {
  position: relative;
  z-index: 4;
}

.center-box-content .titleEffectStrock {
  margin: 0;
}
.title {
  z-index: 100;
  position: relative;
}
.title,
.title * {
  font-size: 9rem;
}
.center-box-content .title {
  margin: 0;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.animation-strock-effect {
  width: 100%;
  min-height: 81px;
}

.d-block {
  display: block;
}

.animation-strock-effect h3,
.animation-strock-effect span {
  position: absolute;
  width: 100%;
  text-align: center;
  z-index: 3;
}

.animation-strock-effect h3:nth-child(2),
.animation-strock-effect span:nth-child(2) {
  top: 13px;
  z-index: 2;
}

.animation-strock-effect h3:last-child,
.animation-strock-effect span:last-child {
  top: 25px;
  z-index: 1;
}

.text-uppercase {
  text-transform: uppercase;
}

.btn {
  width: 245px;
  height: 76px;
  flex-shrink: 0;
  color: #ff8a00;
  text-align: right;
  font-family: PhonkContrast;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  position: relative;
  border-radius: 10px;
  background: #1d1d1d;
}

.email-field,
.field__input_superhumn {
  /* width: 462px; */
  height: 76px;
  width: 100%;
  padding: 24px 57px 24px;
  border-radius: 10px;
  border: 2px solid #3d3c3c;
  background: #ff004c;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.3) inset;
  color: #fff;
  font-family: "Rubik", sans-serif;

  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
}

.email-field::placeholder,
.field__input_superhumn::placeholder {
  color: white; /* Set the color of the placeholder text to white */
  opacity: 1;
}

.superhumn-form,
.superhumn-form .newsletter-form__field-wrapper {
  max-width: 462px !important;
  margin: 0 !important;
  width: 100%;
}

.superhumn-form .newsletter-form__button {
  right: 24px;
}

.btn-full:after,
.field__input_superhumn:after,
.field__input_superhumn:before,
.superhumn-field:before,
.superhumn-field::after {
  display: none !important;
}

@media screen and (min-width: 750px) {
  .newsletter-form {
    max-width: auto;
  }
}

.field__label_supter {
  top: 54%;

  transform: translateY(-50%);
}

/* .btn-line {
  width: 65px;
  height: 2px;
  background: #ff8a00;
} */
.para-1 {
  color: #272727;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 230px;
  text-align: left;
  transform: rotate(90deg);
  top: 22.8rem;
  position: absolute;
  right: 66px;
}
.mt-40 {
  margin-top: 40px;
}
.btn:after {
  content: "";
  width: 65px;
  height: 2px;
  background: #ff8a00;
  position: absolute;
  top: 0;
  left: 40px;
}

.layer-1 {
  border-radius: 10px;
  background: #0e0e0e;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.layer-2 {
  border-radius: 10px;
  background: #222;
  width: calc(100% - 7px);
  height: calc(100% - 7px);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.pillu {
  top: 89px;
  left: 60px;
  width: 37px;
  height: 90px;
  position: absolute;
  transform: translate(-50%, -50%);
}

.full-width {
  width: 100%;
  max-width: 100%;
}

.text-center {
  text-align: center !important;
}

.testimonials_tag {
  bottom: 80px;
  left: 62px;
}

.slash_tag {
  bottom: 80px;
  right: 62px;
}

.page-1100 {
  max-width: 1260px;
  width: 100%;
}
.me-5 {
  margin-right: 5rem !important;
}

.dotnav button {
  background: url(//superhumn-dev.myshopify.com/cdn/shop/t/2/assets/dot.svg?v=1705678…);
  background-repeat: no-repeat;
  background-color: transparent;
  box-shadow: none;
  border: 0;
  text-indent: -9999px;
  width: 20px;
  background-position: center;
  height: 20px;
}
.slick-dots li.slick-active button {
  background-color: red;
  border: solid #fff 4px;
}

.header {
  max-width: 100%;
  top: 0;
}

.field__button {
  top: 50%;

  transform: translateY(-50%);
}

.for-desk {
  display: block;
}
.for-mob {
  display: none !important;
}

.navigation {
  display: flex;
  max-width: 564px;
  padding: 50px 0px;
  justify-content: space-between;
  align-items: center;
  margin: 30px auto 0 auto;
}

.collapsible-content summary:hover {
  background: transparent;
}

.frame .field:after {
  display: none;
}

summary[aria-expanded="false"] svg {
  transition: all 600ms;
}
summary[aria-expanded="true"] svg {
  transform: rotate(180deg);
  transition: all 600ms;
}

.collapsible-content summary:hover {
  background: transparent !important;
  text-decoration: none !important;
}

@media (max-width: 992px) {
}

.customtemplate--16571202273476__superhumn_new_banner_tjRR4n-button,
.header__search,
.header__icon,
.custombutton_kiLKVX-button,
.custombutton_kEFL6a-button,
.testimonial__slider,
.header__inline-menu,
.header__icons {
  display: none !important;
}

@media (max-width: 768px) {
  .slider__text h3 {
    font-size: 20px;
  }

  .navigation {
    padding: 0px;
  }
  .btn {
    width: 200px;
    height: 60px;
    flex-shrink: 0;
    font-size: 16px;
  }

  .heading-style-2,
  h1,
  .h1 {
    font-size: 5.4rem;
  }

  .super-human-card__content,
  p,
  .super-human-card__content p {
    font-size: 20px;
  }

  .superhumn-form,
  .superhumn-form .newsletter-form__field-wrapper,
  .email-field,
  .field__input_superhumn {
    /* max-width: 350px; */
    min-width: 0 !important;
  }

  .superhumn-form,
  .superhumn-form .newsletter-form__field-wrapper {
    display: block;
    margin: auto !important;
  }

  .block-v2 .h1 {
    font-size: 43px !important;

    line-height: normal;
  }

  .superhumn-title.h1 {
    font-size: 32px;
  }

  .testimonials-title-wrapper .titleEffectStrock {
    font-size: 46px;
    letter-spacing: normal;
  }

  .heading-style-2,
  h1,
  .h1 {
    font-size: 4.4rem !important;
  }

  .super-human-card .superhumn-title:after {
    font-size: 34px !important;
  }

  .title,
  .title * {
    font-size: 4.4rem !important;
  }

  .list-menu__item,
  .list-social__link {
    font-size: 16px;
    font-size: 14px !important;
  }

  .superhumn-footer p {
    font-size: 16px !important;
  }

  .header__heading-logo,
  body .header__heading-logo {
    max-width: 200px !important;
  }
  .header__heading-link header-drawer,
  .header__search,
  .menu-drawer-container {
    display: none !important;
  }

  .super-human-absolute {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
    display: block;
    margin: auto;
    float: none;
  }

  .image-gallery {
    max-width: 1160px;
    height: 300px;
    width: 100%;
    position: relative;
    display: block;
    transform: skew(-15deg, 27deg);
    right: 0;
    top: -100px;
  }
  .flex-mobile-down {
    flex-direction: column;
  }
  .reverse-col {
    flex-direction: column-reverse !important;
  }
  .image-gallery .grid {
    display: flex;
    flex-wrap: nowrap;
  }
  .image-gallery:after {
    background: linear-gradient(
      180deg,
      #131313 23.5%,
      rgba(19, 19, 19, 0) 100%
    );
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: -117px;
    left: 0;
  }

  .image-with-text__media-item {
    padding: 0 !important;
  }

  .animation-strock-effect {
    display: none;
  }

  .super-human-card__content p {
    font-size: 20px !important;
  }
  .image-with-text__content {
    padding: 2rem !important;
  }

  .testimonials {
    margin: 10px;
  }
  .section-template--16571202273476__superhumn_banner_width_text_v2_gNzTyN-padding
    .image-with-text__grid--reverse {
    display: flex;
    flex-direction: column-reverse;
  }

  .frame,
  .wow1 {
    width: 300px !important;
  }

  .fill-frame {
    width: 49px !important;
    height: 343px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .fill-frame img {
    height: 270px;
  }

  .frame .emailForm {
    width: 355px !important;
    height: 47px !important;
    transform: none !important;
    left: 0 !important;
  }

  .frame:hover {
    transform: none;
  }

  .frame .field {
    width: 242px;
  }
  .email-field,
  .field__input_superhumn {
    font-size: 16px !important;
  }
  .newsletter-form__field-wrapper {
    top: 0 !important;
  }
  .frame .field__label {
    font-size: 12px !important;
    top: 16px;
  }

  .frame .join-btn {
    font-size: 15px !important;
  }

  .table-2 {
    display: block !important;
    column-count: inherit !important;
    background: #0f0f0f !important;
  }

  .accordion {
    border-radius: 10px;
    border: 4px solid #282828;
    background: #171717;
  }

  .accordion__title + svg {
    width: 22px !important;
    height: 22px !important;
  }
  .accordion summary {
    justify-content: space-between;
  }
  .accordion__content {
    background-color: #171717;
    padding-bottom: 20px;
  }
  h3.inline-richtext {
    font-size: 20px !important;
  }
  .accordion p {
    font-size: 18px !important;
  }
  .accordion summery {
    padding-top: 22px;
  }
  .collapsible-content__wrapper h2 {
    font-size: 90px !important;
  }
  .caption-para {
    margin: 50px auto 10px;
  }
  .for-desk {
    display: none;
  }
  .for-mob {
    display: block !important;
  }
  .mob-footer {
    flex-direction: column-reverse;
    width: 100%;
  }
  .mob-footer .grid__item {
    width: 100%;
  }
  .footer-news-letter p {
    font-size: 20px !important;
  }
  .copyright {
    margin: 70px 0 12px 0 !important;
  }
  .sprite {
    z-index: -1;
  }
  .accordion:nth-child(n + 4) {
    display: none;
  }
}
