.header__menu-item {
  position: relative;
  color: #fff;
  transition: all 600ms;
}
.list-menu__item {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 1.44px;
  padding: 0;
  margin: 0 2rem;
}
.list-menu__item {
  position: relative;
}

.list-menu__item:after,
.header__active-menu-item {
  background: #f00;
  width: 0;
  content: "";
  height: 0.25rem;
  transition: all 600ms;
  left: 50%;
  transform: translate(-50%, 50%);
  position: absolute;

  bottom: -4px;
  background-color: #f00;
}
.header__menu-item:hover span,
.header__active-menu-item {
  text-decoration: none !important;
  background-color: #f00;
}
.header__active-menu-item:after,
.header__menu-item:hover:after {
  content: "";
  width: 100%;
}

@media screen and (min-width: 990px) {
  .header {
    min-height: 123px;
  }
  .header--middle-left {
    grid-template-columns: 1fr 5fr auto;
    text-align: right;
  }
}
