.header__menu-item {
  position: relative;
  color: #fff;
  transition: all 600ms;
  text-decoration: none !important;
}
.list-menu__item {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 1.44px;
  padding: 0;
  margin: 0 2rem;
}
.list-menu__item {
  position: relative;
}

.list-menu__item span:after {
  background: #f00;
  width: 0;
  content: "";
  height: 0.25rem;
  transition: all 600ms;
  left: 50%;
  transform: translate(-50%, 50%);
  position: absolute;
  text-decoration: none !important;
  bottom: -4px;
}

.list-menu__item:hover span:after,
.list-menu__item span.header__active-menu-item::after {
  content: "";
  width: 100%;
  text-decoration: none !important;
}

/* .header__menu-item:hover span,
.header__active-menu-item {
  text-decoration: none !important;
}
.header__active-menu-item:after,
.header__menu-item:hover:after {
  content: "";
  width: 100%;
  background: #f00;

  height: 3px;
  display: block;
  position: absolute;
  bottom: -6px;
} */

@media screen and (min-width: 990px) {
  .header {
    min-height: 123px;
  }
  .header--middle-left {
    grid-template-columns: 1fr 5fr auto;
    text-align: right;
  }
}
