.header__menu-item {
  position: relative;
  color: #fff;
}
.list-menu__item {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 1.44px;
  padding: 0 2rem;
}

header__menu-item:after {
  background: #f00;
  min-width: 0px;
  transition: all 600ms;
}
.header__menu-item:hover span,
.header__active-menu-item {
  text-decoration: none !important;
}
.header__active-menu-item:after,
.header__menu-item:hover:after {
  position: absolute;
  content: "";
  min-width: 55px;
  height: 0.25rem;
  left: 50%;
  transform: translate(-50%, 50%);
  bottom: -4px;
  background-color: #f00;
  text-decoration: none !important;
}

@media screen and (min-width: 990px) {
  .header {
    min-height: 123px;
  }
  .header--middle-left {
    grid-template-columns: 1fr 5fr auto;
    text-align: right;
  }
}
