.power-slider {
}

.slider {
  position: relative;
}
.slider__img {
  min-height: 380px;
}
.slider__text {
  position: absolute;
  bottom: 0;
  max-width: 418px;
  min-height: 87px;
  display: flex;
  padding: 15px;

  margin: 0 15px;

  border-radius: 4px;
  border: 10px solid #ff7a00;
  background: #352212;
}

.slider__img img {
  display: block;
  margin: auto !important;
}

.slider__text h3 {
  color: #fff;
  font-family: "Inter", sans-serif;

  font-size: 24px;
}

.slider__text p {
  color: #fff;

  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
