.power-slider {
}

.slider {
  position: relative;
}
.slider__img {
  min-height: 380px;
}
.slider__text {
  position: absolute;
  bottom: 60px;

  min-height: 87px;
  display: flex;
  padding: 15px;
  border: 1px solid #fff;
  background: #2d2d2d;
  margin: 0 15px;
}

.slider__img img {
  display: block;
  margin: auto !important;
}

.slider__text h3 {
  color: #fff;

  font-size: 16px;
}

.slider__text p {
  color: #fff;

  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
