.power-slider {
}

.slider {
  min-height: 390px;
  position: relative;
  padding: 60px;
}

.slider__text {
  position: absolute;
  bottom: 60px;

  min-height: 87px;
  display: flex;
  padding: 15px;
  border: 1px solid #fff;
  background: #2d2d2d;
}

.slick-slide img {
  display: block;
  margin: auto;
}

.slider__text h3 {
  color: #fff;

  font-size: 16px;
}

.slider__text p {
  color: #fff;

  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
