.superhumn-title {
  position: relative;
  margin: auto;
  text-align: center;
}

.testimonial-heading-block {
}

.superhumn-title.h1 {
  font-size: 74px;
}

.superhumn-title:before,
.superhumn-title:after {
  font-size: 33px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.99px;
  text-transform: uppercase;
  position: relative;
  display: block;
  text-transform: uppercase;
  -webkit-text-stroke-width: 0.3px;
  -webkit-text-stroke-color: #fff;
  position: relative;
  color: transparent;
  font-family: "phonkregular_demo";
}

.superhumn-title:before {
  content: "{{ section.settings.title_before }}";
}

.superhumn-title:after {
  content: "{{ section.settings.title_after }}";
}

.multicolumn-card__info {
  padding: 0.5em;
  background: transparent !important;
}

.multicolumn-card {
  background: transparent !important;
}

.testimonials {
  position: relative;

  max-width: 437px;
  margin: auto;
}

.testimonials__wrapper {
  position: absolute;
  top: 4%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  padding: 40px 30px;
}

h3.inline-richtext {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: 22.64px; /* 94.332% */
}

.testimonials__wrapper * {
  color: #fff;
}

.testimonials__title {
  display: flex;
  justify-content: space-between;
}

.testimonials__text {
  margin-top: 22px;
}

.testimonials__profile-img {
  position: relative;
  top: -24px;
  border-radius: 100%;
  left: 44px;
}

.testimonials-title-wrapper {
  margin: auto;
  text-align: center;
  width: 100%;
}
.testimonials-title-wrapper .animation-strock-effect {
  top: -160px;
  z-index: -1;
  letter-spacing: normal;
}

.testimonials-title-wrapper .titleEffectStrock {
  font-size: 74px;
  letter-spacing: normal;
}

.arrow {
  vertical-align: middle;
}

/* .slide{
  margin: 30px;

} */

.testimonials svg {
  width: 100%;
}

.dots {
  padding: 0;
  margin: 0;
  display: flex;
  list-style: none;
}

.arrow:first-child {
  transform: rotate(-180deg);
}

.dots li {
  margin: 0 10px;
}
